.container {
  /* padding: 1rem; */
  width: 100wv;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: gray; */
  padding: 1rem;
  /* min-width: 300px; */
}
.box {
  background-color: #dedede;
  width: 500px;
  height: 600px;
  padding: 10px;
  box-shadow:
    inset -4px -4px 8px #fff,
    inset 2px 2px 8px rgb(0 0 0 / 24%);
  display: grid;
  grid-template-rows: 120px 1fr;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 1rem 0;
  }
  .box {
    width: 90%;
  }
}

.title {
  grid-row-start: 1;
  grid-row-end: 2;
  text-shadow: 4px 4px 4px #fff;
  /* box-shadow:
    -1px -1px 2px #fff,
    1px 1px 2px rgb(0 0 0 / 24%); */
}
.form {
  grid-row-start: 2;
  grid-row-end: 3;
}
.inputArea {
  display: grid;
  grid-template-rows: 120px 1fr;
  margin: 5px;
}
.input {
  /* box-shadow:
    inset -4px -4px 8px #fff,
    inset 2px 2px 8px rgb(0 0 0 / 24%); */
  grid-row-start: 1;
  grid-row-end: 2;
  height: 30px;
  padding: 10px;
  border: none;
}

.button {
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* aspect-ratio: 1; */
  color: #222;
  background-color: #efefef;
  border-radius:;
  box-shadow:
    -2px -2px 4px #fff,
    2px 2px 4px rgb(0 0 0 / 24%);
}

@media (any-hover: hover) {
  .button {
    transition: box-shadow 0.2s;
  }

  .button:hover {
    box-shadow:
      -1px -1px 2px #fff,
      1px 1px 2px rgb(0 0 0 / 24%);
  }

  .button:active {
    background-color: #ebebeb;
    box-shadow: inset 4px 4px 8px rgb(0 0 0 / 16%);
  }
}
